
.contenedor {
    display: flex;
    flex-direction: column;
    margin: 1.5em;
}

table {
    border-collapse: collapse;
    margin: 1em;
  }

.login{
    border: 1px black solid;
    padding: 1em;
    width: 15%;
}

.enlaces {
    padding: 1em;
}

.estilo_enlace, .confirmacion_borrar {
    text-decoration: none;
}

.error {
    margin-left: 1em;
    color: red;
}

button{
    background-color: rgb(112, 245, 112);
    margin-top: 0.5em;
    padding: 0.5em;
    color: rgb(164, 245, 245);
}

.btn-apuntarse{
    background-color: rgb(112, 245, 243);
}

.btn-borrarse{
    background-color: rgb(245, 116, 112);
}

.avatar{
    border-radius: 50%;
    height: 50px;
    object-position: center;
    width: 50px;
}

#contenedor-boton{
    margin: 1em;
    text-align: right;
}